//- footer.container.py-5
//-     .row
//-         .col-md-8
//-             nav.nav.footer.justify-content-center.justify-content-md-start
//-                 a.nav-link(href="/about") About Us
//-                 a.nav-link(href="/events") Upcoming Events
//-                 a.nav-link(href="/testimonials") Testimonials
//-         .col
//-             p.copyright.text-center.text-md-right
//-                 | All Rights Reserved 
//-                 span #{currentYear}

footer.footer-distributed
  .footer-left
    h3
      | DJ
      span Brayo
    p.footer-links
      a(href='#') Home
      |                 |
      a(href='#') About
      |                 |
      a(href='#') Events
      |                 |
      a(href='#') Testimonials
    p.footer-company-name
      | Copyright © 2021 
      strong DJ Brayo
      |  All rights reserved
  .footer-center
    div
      i.fa.fa-map-marker
      p
        span Eldoret
        |               Kenya
    div
      i.fa.fa-phone
      p +555 555 555
    div
      i.fa.fa-envelope
      p
        a(href='mailto:b@gmail.com') b@gmail.com
  .footer-right
    p.footer-company-about
      span About the company
      |  Lorem ipsum dolor sit amet consectetur adipisicing elit
      |        Maxime mollitia,
      |
      |optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
          

    .footer-icons
      a(href='#')
        i.fa.fa-facebook
      a(href='#')
        i.fa.fa-instagram
      a(href='#')
        i.fa.fa-linkedin
      a(href='#')
        i.fa.fa-twitter
      a(href='#')
        i.fa.fa-youtube
