//- .row.upcoming-travels
//-     each event in events
//-         .col-md-6.col-lg-4.mb-4
//-             .card
//-                 img.card-img-top(src=`/img/destiny_${travel.image}.jpg`, class="img-fluid")
//-                 .card-body
//-                     h2=event.title
//-                             p
//-                                 i.fa-solid.fa-city
//-                                 |     #{event.city}
                                   
                            
//-                             p=event.description.substr(0, 100)
//-                             a(href=`events/${event.id}`, class="btn btn-success btb-block") More Information