extends ../layout/index

block content
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="/img/mu.jpg", alt="About Image")
            .col-md-7
                h1 #{pageTitle}
                blockquote Proin quis leo ex. Cras ut leo interdum, tristique sapien eu, gravida purus. Nullam vel ex volutpat justo tempor fermentum. Vestibulum hendrerit rhoncus malesuada. Cras cursus arcu vitae ante vestibulum imperdiet. Sed condimentum suscipit feugiat.
                p Nam a nisi tincidunt mi fermentum euismod ut vel nibh. Pellentesque pharetra odio sit amet mauris iaculis, at ultricies nibh pharetra. Donec hendrerit, mi id efficitur hendrerit, orci purus efficitur est, in viverra felis tortor sed magna. Etiam pulvinar bibendum egestas. Mauris ultricies mattis sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                p Etiam commodo, massa a sagittis ullamcorper, nisi nunc venenatis dolor, id efficitur eros erat vel velit. Suspendisse id elementum turpis, at sollicitudin lacus.
    .icons-list 
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="/img/icon_trust.svg", class="img-fluid mb-4")
                    h2.mb-4 Good time Guaranteed!
                    p Nullam consectetur, ligula non consectetur egestas, mi urna vulputate elit, quis pretium lorem tortor in quam. Duis volutpat condimentum turpis, dictum sollicitudin lorem mattis semper.
                .col-md-4
                    img(src="/img/icon_destiny.svg", class="img-fluid mb-4")
                    h2.mb-4 We are Mobile
                    p Nullam consectetur, ligula non consectetur egestas, mi urna vulputate elit, quis pretium lorem tortor in quam. Duis volutpat condimentum turpis, dictum sollicitudin lorem mattis semper.
                .col-md-4
                    img(src="/img/icon_price.svg", class="img-fluid mb-4")
                    h2.mb-4 Value for your Money
                    p Nullam consectetur, ligula non consectetur egestas, mi urna vulputate elit, quis pretium lorem tortor in quam. Duis volutpat condimentum turpis, dictum sollicitudin lorem mattis semper.